{% extends "layout/base.twig" %}
{% block title %}Home{% endblock %}

{% block body_content %}

    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">

                Some App APIs

            </div>
            <div class="links">
                <a href="about.txt">About</a>
                <a href="">Docs</a>
                <a href="">News</a>
                <a href="">Logs</a>
                <a href="https://asmith.my.id" target="_blank">Asmith</a>
            </div>
        </div>
    </div>



{% endblock %}